PurchaseOrder.module/Schemas/RicercaArticolo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RicercaArticolo" xmlns:tns="http://www.example.org/RicercaArticolo" elementFormDefault="qualified">

    <element name="RicercaArticolo" type="tns:RicercaArticoloType"></element>
    
    <complexType name="RicercaArticoloType">
    	<sequence>
    		<element name="Nome" type="string"></element>
    		<element name="Quantità" type="int"></element>
    	</sequence>
    </complexType>

</schema>