PurchaseOrder.module/Schemas/RispostaMagazzino.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.example.org/RisultatiRicercaArticolo" xmlns:tns="http://www.example.org/RispostaMagazzino" elementFormDefault="qualified" targetNamespace="http://www.example.org/RispostaMagazzino">

    <import namespace="http://www.example.org/RisultatiRicercaArticolo"/>
    <element name="Risposta" type="tns:RispType"/>

    <complexType name="RispType">
    	<sequence>
    		<element name="Stato" type="string"/>
    		<element maxOccurs="1" minOccurs="0" name="RisultatiRicerca" type="Q1:RisultatiRicercaArticoloType">
    		</element>
    	</sequence>
    </complexType>
</schema>
